# Setup - Kör koden i denna cell. Du behöver installera pandas med pip (pip install pandas)

In [2]:
# This makes it so that jupyter wont just output the last line, but everything that gets outputted.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import numpy as np


## LÄS DETTA FÖRST
**Deadline**: 2023/10/19 23:59 (Torsdag den 19e oktober)

**Komplettering 1 Deadline**: 2023/10/26 23:59 (Torsdag den 19e oktober)

**Komplettering 2 Deadline**: 2023/11/02 23:59 (Torsdag den 2a november)

**Betyg**: U, G

- För att få **G** så ska du klara majoriteten av uppgifterna (i synnerhet de första ) genom att använda funktionalitet kopplad till pandas och minimalt med numpy. Du ska regelbundet göra commits & pusha ut koden. För varje cell ska du displaya resultatet av dina operationer och skriva **kortfattade kommentarer** som beskriver vad koden gör.


**OBS!**
Att använda chatGPT, github co-pilot eller andra AI-assisterade chattbottar för att lösa uppgifterna är förbjudet och leder till att du blir underkänd om det uppdagas. Gör laborationen inte bara för att du måste, utan för att det hjälper dig att få jobb i framtiden. Ditt betyg är inte viktigt, din kunskap och förmåga att lösa problem är det!

## Inlämning

- Ta bort alla onödiga filer, filen som ska rättas ska heta main.ipynb och din kod bör vara på den huvudsakliga branchen "main" eller "master".
- Se till att du körde git clone på din EGEN repository för labben.
- Feedback ges via en speciell branch som skapas automatiskt som heter feedback, ta inte bort denna branch.

## Beskrivning

Kickstarter är en tjänst där vem som helst kan försöka få finansiering av privatpersoner och företag för att förverkliga ett projekt. Datan består några tusen projekt som varit publicerade.

Uppgiften går ut på att använda pythonbiblioteket "pandas" för att arbeta med datan. Denna laboration förutsätter att ni har läst på och deltagit på lektioner om pandas för att behärska lösningarna.

### Använd jupyternotebook i vscode (Alternativ 1)
Lös notebooken i vscode. Du behöver då installera pandas med hjälp av pip eller conda, tex. "pip install pandas". Följ denna youtube-video: https://www.youtube.com/watch?v=jNk-ZmeIz6c&ab_channel=VeryAcademy
**OBS** OM DU SKA INKLUDERA EN VIRTUAL ENVIRONMENT (VENV) SÅ MÅSTE DU DÖPA DEN TILL "VENV" ELLER BYTA NAMN PÅ VAD SOM STÅR I .gitignore-filen TILL SAMMA NAMN SOM DIN VIRTUAL ENVIRONMENT. Du ska alltså inte pusha ut din virtual environment till git! I många fall behöver du ingen virtual environment (venv) utan du kan köra pip install pandas direkt. Försök byta "interpreter" genom att skriva ctrl + shift + p --> select interpreter --> testa alla dina olika versioner av python

Om du inte kan köra dina celler så ska du se till att du valt en "kernel" längst uppe till höger.


### Använd google colab för din notebook (Alternativ 2) 
Du kan göra uppgiften genom att använda google colab, Du kommer att behöva ladda upp main.ipynb följt av att lägga till testdatan "kickstarter.csv". Tänk bara på att du åtminstone 2-3 gånger under tidens gång sparar filen, gör en commit i git och pushar ut. Sedan fortsätter du. Detta är nackdelen med colab, att vi inte kan jobba med git lika smidigt.

### Hur du arbetar i notebooken

- För **VARJE** cell ska koden du skrivit displaya resultatet av dina operationer så att jag kan följa stegen du tar (genom att helt enkelt skriva "df" på slutet av varje cell). För vissa celler kan du dessutom se vilken output jag förväntar mig från celler där det står "Ta ej bort denna cell", om du tar bort cellen försvinner outputten. 
- **Det ska gå att köra koden från början till slut och få samma resultat igen**
- Du ska beskriva koden i varje cell så att jag ser att du förstår vad du gör. 
- Använd dokumentationen som stöd [https://pandas.pydata.org/docs/reference/frame.html](https://pandas.pydata.org/docs/reference/frame.html)

# Sektion 1

1. ### Ladda in datasettet kickstarter.csv till en dataframe, döp den till "df"

In [7]:

df = pd.read_csv("kickstarter.csv")
df
# Hej Tobias! Jag tänkte skriva lite kommentarer där jag förklarar mig kod lite grann

# Här så hämtar vi från kickstarter.csv all data vi behöver och jag skriver bara df för att printa ut med tabellen

# Gammal kod
# print(df.to_string())

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

2. ### Printa ut de 5 första raderna

In [14]:
df.head()

# .head() är default top 5 i listan!

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

In [ ]:
# Ta ej bort denna cell

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

3. ### Printa ut 20 slumpmässiga rader från datasettet

In [17]:
top20df = df.sample(n = 20)

# top 20 random gör vi här med n = 20!

In [ ]:
# Ta ej bort denna cell

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
411,1698805092ID,The BLOCKing Dead - Minecraft Animated Series,Animation,Film & Video,USD,2013-01-02,1250.0,2012-12-03 19:47:19,40.00,failed,2,US,56819$ usd,40.00,1250.00,"Scott Drive, 96547"
1717,684883699ID,Train in Vain,Documentary,Film & Video,USD,2012-03-01,20000.0,2012-01-02 18:08:56,315.00,failed,12,US,98784$ usd,315.00,20000.00,"Wright Mall, 80677"
1967,1775317688ID,Adventures of SuperYam™ children's book series,Children's Books,Publishing,AUD,2015-04-14,10000.0,2015-03-15 13:42:56,10180.00,successful,81,AU,71153$ usd,7953.12,7812.50,"Dunn Loop, 69433"
1765,208829885ID,RawFoods Made Simple: a Step by Step Guide Coo...,Food,Food,CAD,2014-02-06,5500.0,2014-01-07 23:00:16,195.00,failed,10,CA,66317$ usd,176.17,4968.83,"Raymond Knoll, 74130"
1239,680193270ID,British Internet Comedy Show Invention With Br...,Webseries,Film & Video,USD,2011-01-12,500.0,2010-12-13 07:28:42,0.00,failed,0,US,74696$ usd,0.00,500.00,"Brown Ways, 37479"
304,1480109024ID,So Far Appalachia,Nonfiction,Publishing,USD,2013-05-02,9000.0,2013-04-02 14:31:07,10518.92,successful,116,US,58579$ usd,10518.92,9000.00,"Whitehead Parkways, 84263"
1361,551322994ID,Send The Old Ceremony on tour in the Old Country!,Music,Music,USD,2011-03-06,4999.0,2011-02-04 18:07:06,10336.00,successful,95,US,52717$ usd,10336.00,4999.00,"Erika Meadow, 39867"
616,264187788ID,"""Vindmøllernes sus""",Drama,Film & Video,DKK,2015-04-18,15000.0,2015-03-04 19:22:05,16770.00,successful,23,DK,83676$ usd,2433.01,2176.22,"Snyder Route, 02519"
1044,1075639643ID,UK and Ireland Tour 2013,Country & Folk,Music,USD,2013-10-15,3000.0,2013-09-30 23:05:16,5288.00,successful,54,US,92015$ usd,5288.00,3000.00,"Phillips Springs, 79935"
1531,2037409030ID,The Vik Bang Theory,Documentary,Film & Video,USD,2015-07-27,9000.0,2015-06-27 23:37:50,108.00,failed,2,US,70626$ usd,108.00,9000.00,"Alvin Valley, 64575"
1982,534281834ID,Cornwall Photo Walks,Photography,Photography,GBP,2017-09-24,1500.0,2017-08-25 18:53:18,20.00,failed,1,GB,88595$ usd,26.78,2008.33,"Ramos Dam, 94318"
709,1283733785ID,F2N2- Fantasy Football!,Film & Video,Film & Video,USD,2012-07-05,7500.0,2012-06-05 17:54:22,7525.00,successful,62,US,99125$ usd,7525.00,7500.00,"Rebecca Fields, 96519"
1308,152154408ID,"The Knife, Reinvented",Product Design,Design,CAD,2017-12-17,25000.0,2017-11-17 14:12:46,600.00,canceled,8,CA,76812$ usd,472.33,19680.39,"John Valley, 62969"
1046,48746369ID,The Revolution of Virtual Marketplace,Web,Technology,USD,2016-01-13,30000.0,2015-12-08 04:15:06,0.00,failed,0,US,85526$ usd,0.00,30000.00,"Miller Fall, 00790"
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.00,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1972,880236486ID,Lost Legends,Tabletop Games,Games,USD,2012-12-01,10000.0,2012-10-17 10:51:39,30820.01,successful,457,US,75823$ usd,30820.01,10000.00,"Thomas Junctions, 38475"
146,774008995ID,"Ex Arcana, a new breed of RPG, needs brilliant...",Tabletop Games,Games,USD,2010-07-18,7000.0,2010-06-03 06:56:53,2659.00,failed,28,US,56244$ usd,2659.00,7000.00,"Tanya Square, 84623"
1423,2061286091ID,Tortilleria en la playa,Small Batch,Food,USD,2017-08-30,65000.0,2017-07-31 20:28:00,0.00,failed,0,US,52816$ usd,0.00,65000.00,"Deborah Streets, 40760"
1650,1631041037ID,FREE AND CHEAPEST COLLEGE TEXTBOOKS APP,Apps,Technology,USD,2017-11-17,5000.0,2017-10-23 07:45:28,55.00,failed,1,US,81556$ usd,55.00,5000.00,"Crawford Common, 70855"
1263,729521749ID,Eekeemoo - Black Sun Rising,Graphic Novels,Comics,GBP,2015-05-05,3500.0,2015-03-06 17:00:10,3838.00,successful,84,GB,98577$ usd,5915.72,5394.74,"Reeves Forge, 38112"

4. ### Visa en sammanställning av information från din dataframe

In [18]:
print(top20df)

# Jag printar ut den med print()

                ID                                               name  \
1722  1394843684ID                      Project ArcheBlade (Canceled)
920   1130549072ID     Inspiration and Healing Through Poetry and Art
1674  1661677575ID                                       Worsted Comb
56     800866842ID                        Die Wahrheit - Der Kurzfilm
127   1198834100ID       PhotoBike:  4,000 Photos from a Bicycle Seat
1828  1331019144ID  Gallant Bicycles - Custom painted city and roa...
475    185642384ID                                       Do You Dare?
1879  1685053817ID  RS Real Simple Wallet - Redesign Simple Wallet...
1549   807973351ID                         Where'd We Eat Next Series
1480  1636236995ID              Support Small Business And Big Dreams
65    2135139049ID    The Cypress Quartet is hitting the radio waves!
908    609317403ID    Dark Oak and The Truth Behind Things. Episode 1
1868  1655813896ID     New Cover Design for Conflagration and Lineage
451   1395669409ID                             Walk-In Camera Obscura
729    323602233ID                    Christmas at the Movies Concert
1223   761998357ID                                     Dennie Hall EP
188   1850351139ID         GALAXY PHOTOGRAPHER'S PLANNER AND HANDBOOK
1904  1358486827ID         Promotional Budget For Up-and-Coming Novel
187    985854064ID  Morelife apparel art morelifeart t-shirts hats...
1102  1874341440ID  Board Game RPG Sandbox "The Universe of Last W...

             category main_category currency    deadline      goal  \
1722      Video Games         Games      USD  2013-01-05  100000.0
920               Art           Art      USD  2012-01-19    3000.0
1674           Flight    Technology      AUD  2017-12-24  150000.0
56             Shorts  Film & Video      EUR  2017-06-13     550.0
127       Photography   Photography      USD  2011-02-24     600.0
1828   Product Design        Design      CAD  2014-11-05   30000.0
475        Indie Rock         Music      DKK  2016-03-31   20000.0
1879           Design        Design      USD  2014-01-02    8000.0
1549           Shorts  Film & Video      USD  2015-03-27    5000.0
1480           Crafts        Crafts      USD  2016-11-07     220.0
65    Classical Music         Music      USD  2011-12-11    2000.0
908      Film & Video  Film & Video      USD  2014-05-11  100000.0
1868          Fiction    Publishing      USD  2014-02-21    1500.0
451        Public Art           Art      USD  2014-04-25     350.0
729   Performance Art           Art      USD  2013-05-14   12000.0
1223            Music         Music      USD  2017-08-01    7000.0
188            Design        Design      USD  2015-12-24    8000.0
1904          Fiction    Publishing      USD  2017-01-06   20000.0
187           Apparel       Fashion      USD  2018-01-01     850.0
1102   Tabletop Games         Games      MXN  2017-01-31  500000.0

                 launched  pledged       state  backers country usd pledged  \
1722  2012-11-23 12:38:44   4303.0    canceled       64      US  74790$ usd
920   2011-12-30 06:15:43      0.0      failed        0      US  83868$ usd
1674  2017-11-24 00:11:15     11.0      failed        2      AU  83972$ usd
56    2017-05-09 07:50:16     20.0      failed        2      DE  86815$ usd
127   2011-01-25 09:08:06   1572.0  successful       54      US  66735$ usd
1828  2014-10-07 17:23:15  11140.0      failed       49      CA  52529$ usd
475   2016-02-18 14:04:42   2620.0      failed       11      DK  99199$ usd
1879  2013-12-02 17:06:47    279.0      failed       16      US  62087$ usd
1549  2015-02-25 17:53:14      0.0      failed        0      US  59932$ usd
1480  2016-10-27 08:06:31      0.0      failed        0      US  96259$ usd
65    2011-11-24 18:25:41   2072.0  successful       18      US  99584$ usd
908   2014-04-11 00:28:17     15.0      failed        2      US  58547$ usd
1868  2014-01-22 10:19:37      1.0      failed        1      US  56216$ usd
451   2014-04-11 23:15:20    361.0  successful       18      US  68934$ usd
729   2013-03-15 07:33:18    100.0      failed        1      US  91282$ usd
1223  2017-06-27 17:41:32   1400.0      failed       41      US  63397$ usd
188   2015-11-13 00:56:18  12331.0  successful      246      US  77997$ usd
1904  2016-12-07 19:03:55      0.0      failed        0      US  60215$ usd
187   2017-12-01 05:14:27     40.0      failed        4      US  65793$ usd
1102  2016-12-22 02:46:08    430.0      failed        4      MX  90654$ usd

      usd_pledged_result  usd_funding_goal         company_address
1722             4303.00         100000.00     Erin Mission, 67674
920                 0.00           3000.00  April Stravenue, 57593
1674                8.60         117224.13   Coleman Spring, 87697
56                 22.33            614.18      Clarke Rest, 94958
127              1572.00            600.00  Chapman Passage, 44607
1828             9744.58          26242.13       Jones Oval, 46105
475               402.02           3068.85    Jessica Glens, 78854
1879              279.00           8000.00   Thomas Squares, 53252
1549                0.00           5000.00       Sally Wall, 35667
1480                0.00            220.00     Shawn Fields, 23666
65               2072.00           2000.00   Hamilton Light, 02893
908                15.00         100000.00    Joshua Brooks, 97036
1868                1.00           1500.00     Austin Inlet, 11688
451               361.00            350.00  Chambers Square, 42161
729               100.00          12000.00     Charles Loaf, 03746
1223             1400.00           7000.00   Angela Squares, 73535
188             12331.00           8000.00    Dunn Turnpike, 60046
1904                0.00          20000.00      Pierce Fort, 67892
187                40.00            850.00   Gibbs Mountain, 47224
1102               20.98          24393.81     Luke Centers, 45041

In [ ]:
# Ta ej bort denna cell

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2000 non-null   object
 1   name                2000 non-null   object
 2   category            2000 non-null   object
 3   main_category       2000 non-null   object
 4   currency            2000 non-null   object
 5   deadline            2000 non-null   object
 6   goal                2000 non-null   float64
 7   launched            2000 non-null   object
 8   pledged             2000 non-null   float64
 9   state               2000 non-null   object
 10  backers             2000 non-null   int64
 11  country             2000 non-null   object
 12  usd pledged         2000 non-null   object
 13  usd_pledged_result  2000 non-null   float64
 14  usd_funding_goal    2000 non-null   float64
 15  company_address     2000 non-null   object
dtypes: float64(4), int64(1), object(11)
memory usage: 250.1+ KB

5. ### Printa rad 5 till rad 10 (inkluderat 10) med hjälp av .iloc

In [23]:
top20df.iloc[5:10]

# Här väljer vi med .iloc[] det finns en .loc[] som är för string. Men nu använder jag iloc och gör från 5 till 10. printar ut 5 rader.

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
1828,1331019144ID,Gallant Bicycles - Custom painted city and roa...,Product Design,Design,CAD,2014-11-05,30000.0,2014-10-07 17:23:15,11140.0,failed,49,CA,52529$ usd,9744.58,26242.13,"Jones Oval, 46105"
475,185642384ID,Do You Dare?,Indie Rock,Music,DKK,2016-03-31,20000.0,2016-02-18 14:04:42,2620.0,failed,11,DK,99199$ usd,402.02,3068.85,"Jessica Glens, 78854"
1879,1685053817ID,RS Real Simple Wallet - Redesign Simple Wallet...,Design,Design,USD,2014-01-02,8000.0,2013-12-02 17:06:47,279.0,failed,16,US,62087$ usd,279.00,8000.00,"Thomas Squares, 53252"
1549,807973351ID,Where'd We Eat Next Series,Shorts,Film & Video,USD,2015-03-27,5000.0,2015-02-25 17:53:14,0.0,failed,0,US,59932$ usd,0.00,5000.00,"Sally Wall, 35667"
1480,1636236995ID,Support Small Business And Big Dreams,Crafts,Crafts,USD,2016-11-07,220.0,2016-10-27 08:06:31,0.0,failed,0,US,96259$ usd,0.00,220.00,"Shawn Fields, 23666"

In [ ]:
# Ta ej bort denna cell

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
5,2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.00,"Gonzalez Landing, 20367"
6,923683665ID,Sarah’s Journey: Empowering the Dreams of Disp...,Children's Books,Publishing,SEK,2016-12-19,218000.0,2016-11-15 19:13:46,227101.00,successful,352,SE,67246$ usd,24593.47,23607.89,"Hall Loaf, 09759"
7,397532230ID,James Clark's Lonely Hearts Rugby Clwb Film & ...,Music,Music,GBP,2014-02-04,300.0,2014-01-07 23:34:41,624.00,successful,26,GB,61172$ usd,1018.79,489.80,"Cunningham Throughway, 66540"
8,181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.00,"Bullock Skyway, 28207"
9,1616507003ID,Adventures in Oz: Beyond the Deadly Desert,Games,Games,USD,2011-12-02,3000.0,2011-11-01 00:00:10,520.00,failed,17,US,82928$ usd,520.00,3000.00,"Harris Estates, 48703"
10,373344194ID,Moonlight Vulture,Restaurants,Food,USD,2016-01-04,10000.0,2015-12-14 15:23:00,10727.00,successful,102,US,51152$ usd,10727.00,10000.00,"Bryant Manor, 16806"

6. ### Byt index (radernas namn) så att index är baserat på den befintliga kolumnen ID, ändringen ska vara permanent (använd inte inplace)

In [24]:
top20df.iloc[5:10].set_index("ID")

# Här använder vi den från ID etc och gör så att den fungerar.

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1331019144ID,Gallant Bicycles - Custom painted city and roa...,Product Design,Design,CAD,2014-11-05,30000.0,2014-10-07 17:23:15,11140.0,failed,49,CA,52529$ usd,9744.58,26242.13,"Jones Oval, 46105"
185642384ID,Do You Dare?,Indie Rock,Music,DKK,2016-03-31,20000.0,2016-02-18 14:04:42,2620.0,failed,11,DK,99199$ usd,402.02,3068.85,"Jessica Glens, 78854"
1685053817ID,RS Real Simple Wallet - Redesign Simple Wallet...,Design,Design,USD,2014-01-02,8000.0,2013-12-02 17:06:47,279.0,failed,16,US,62087$ usd,279.00,8000.00,"Thomas Squares, 53252"
807973351ID,Where'd We Eat Next Series,Shorts,Film & Video,USD,2015-03-27,5000.0,2015-02-25 17:53:14,0.0,failed,0,US,59932$ usd,0.00,5000.00,"Sally Wall, 35667"
1636236995ID,Support Small Business And Big Dreams,Crafts,Crafts,USD,2016-11-07,220.0,2016-10-27 08:06:31,0.0,failed,0,US,96259$ usd,0.00,220.00,"Shawn Fields, 23666"

In [ ]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

7. ### Displaya raderna med indexet "121816660ID" till "1503277376ID" med hjälp av .loc
- Förklara varför en dataframe på många sätt är en blandning mellan en lista och dictionary, använd .iloc och .loc när du argumenterar

In [29]:
df.set_index("ID").loc["121816660ID":"1503277376ID"]

# Här selectar vi dem mellan 121816660ID och 1503277376ID

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09!,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76!,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.0*,"Andrew Pike, 24782"

In [ ]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"

8. ### Displaya alla rader med currencyn "USD" genom att använda en mask

In [30]:
df.set_index("currency").loc["USD"]

# Jag fastnade här så länge men jag gjorde så här till slut snälla berätta om det är så här.

,ID,name,category,main_category,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
currency,,,,,,,,,,,,,,,
USD,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,2016-04-22,25000.0,2016-03-22 16:39:57,408052.00,successful,5085,US,98849$ usd,408052.00,25000.0*,"Mary Grove, 30815"
USD,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,2017-02-23,1100.0,2017-02-03 07:26:57,1106.00,successful,10,US,52486$ usd,1106.00,1100.0*,"Garcia Tunnel, 77525"
USD,1503277376ID,FLARE Video Project,Shorts,Film & Video,2011-03-12,5000.0,2011-02-10 20:32:26,5025.00,successful,9,US,99272$ usd,5025.00,5000.0*,"Andrew Pike, 24782"
USD,2021765829ID,Feels Like Home is Going On Tour,Rock,Music,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.0*,"Gonzalez Landing, 20367"
USD,181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.0!,"Bullock Skyway, 28207"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USD,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,2016-03-23,2500.0,2016-03-03 23:30:22,25.00,failed,1,US,70106$ usd,25.00,2500.0!,"Fernandez Cliff, 07444"
USD,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,2012-10-11,4850.0,2012-09-14 23:43:32,40.00,failed,2,US,77334$ usd,40.00,4850.0!,"Williams Junction, 45598"
USD,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,2016-12-19,25000.0,2016-11-04 00:45:31,86.00,failed,2,US,95565$ usd,86.00,25000.0!,"Elaine Point, 97758"
USD,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,2014-02-04,5000.0,2014-01-14 23:48:24,5610.00,successful,77,US,86498$ usd,5610.00,5000.0*,"Nancy Dam, 25971"
USD,1093469237ID,Paintball Robot,Technology,Technology,2011-03-23,15000.0,2011-02-11 23:55:07,1233.00,failed,18,US,72847$ usd,1233.00,15000.0!,"Kennedy Motorway, 67176"

In [ ]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.00,successful,5085,US,98849$ usd,408052.00,25000.0,"Mary Grove, 30815"
1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.00,successful,10,US,52486$ usd,1106.00,1100.0,"Garcia Tunnel, 77525"
1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.00,successful,9,US,99272$ usd,5025.00,5000.0,"Andrew Pike, 24782"
2021765829ID,Feels Like Home is Going On Tour,Rock,Music,USD,2013-05-01,5000.0,2013-04-10 01:42:03,5490.69,successful,93,US,74996$ usd,5490.69,5000.0,"Gonzalez Landing, 20367"
181163322ID,Chosen Kin: A New Superhero Series & Interacti...,Webseries,Film & Video,USD,2017-02-02,5000.0,2017-01-03 06:54:08,156.00,failed,5,US,96858$ usd,156.00,5000.0,"Bullock Skyway, 28207"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.00,failed,1,US,70106$ usd,25.00,2500.0,"Fernandez Cliff, 07444"
1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.00,failed,2,US,77334$ usd,40.00,4850.0,"Williams Junction, 45598"
508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.00,failed,2,US,95565$ usd,86.00,25000.0,"Elaine Point, 97758"
945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.00,successful,77,US,86498$ usd,5610.00,5000.0,"Nancy Dam, 25971"
1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.00,failed,18,US,72847$ usd,1233.00,15000.0,"Kennedy Motorway, 67176"

9. ### kolumnen "pledged" har en hel del värden med 0.0. Ändra dessa till NaN-datatypen istället, använd exempelvis .loc

In [32]:
df = pd.read_csv("kickstarter.csv")
df.loc[df['pledged'] == 0.0, 'pledged'] = np.nan
df

# Det här var svårt att göra men jag selectar först pledged och kollar om den är noll. Sen ger jag den värdet Nan med hjälp av np.nan

NameError: name 'np' is not defined

In [13]:

# print(df.set_index("pledged").loc[0.0]).replace(np.nan)
# saved = df.set_index("pledged").loc[0.0].replace(0, np.nan)
# print(saved)

# df['pledged'] = df['pledged'].replace(0, np.nan)

df['pledged']

print(df)

# Koden fungerar men eftersom min scroll bar bara listar några värden så syns inte alla som ändrades.

0       408052.0
1         1106.0
2         1625.0
3            0.0
4         5025.0
          ...
1995        25.0
1996        40.0
1997        86.0
1998      5610.0
1999      1233.0
Name: pledged, Length: 2000, dtype: float64

                ID                                               name  \
0     1054480724ID  Luminoodle COLOR & BASECAMP: Versatile & Porta...
1     1317034686ID  Liberty's work was accepted into the Library o...
2      121816660ID       Dusk - Open World Survival Horror (Canceled)
3       49882738ID                                Eatsleeptrainrepeat
4     1503277376ID                                FLARE Video Project
...            ...                                                ...
1995   867650362ID           SideWayz Theatre's First Production Fund
1996  1512412268ID      THE LOVE & MISERY OF A MOONSHINE MIND Project
1997   508267839ID                Mall-World Animated Series - Comedy
1998   945357371ID                    Behind the Food Carts Road Trip
1999  1093469237ID                                    Paintball Robot

            category main_category currency    deadline      goal  \
0     Product Design        Design      USD  2016-04-22   25000.0
1             Shorts  Film & Video      USD  2017-02-23    1100.0
2        Video Games         Games      GBP  2015-12-19   50000.0
3                Web    Technology      SEK  2014-12-24  180000.0
4             Shorts  Film & Video      USD  2011-03-12    5000.0
...              ...           ...      ...         ...       ...
1995         Theater       Theater      USD  2016-03-23    2500.0
1996      Publishing    Publishing      USD  2012-10-11    4850.0
1997       Animation  Film & Video      USD  2016-12-19   25000.0
1998     Photography   Photography      USD  2014-02-04    5000.0
1999      Technology    Technology      USD  2011-03-23   15000.0

                 launched   pledged       state  backers country usd pledged  \
0     2016-03-22 16:39:57  408052.0  successful     5085      US  98849$ usd
1     2017-02-03 07:26:57    1106.0  successful       10      US  52486$ usd
2     2015-11-18 01:53:10    1625.0    canceled       58      GB  53482$ usd
3     2014-11-24 21:47:27       0.0      failed        0      SE  64632$ usd
4     2011-02-10 20:32:26    5025.0  successful        9      US  99272$ usd
...                   ...       ...         ...      ...     ...         ...
1995  2016-03-03 23:30:22      25.0      failed        1      US  70106$ usd
1996  2012-09-14 23:43:32      40.0      failed        2      US  77334$ usd
1997  2016-11-04 00:45:31      86.0      failed        2      US  95565$ usd
1998  2014-01-14 23:48:24    5610.0  successful       77      US  86498$ usd
1999  2011-02-11 23:55:07    1233.0      failed       18      US  72847$ usd

      usd_pledged_result  usd_funding_goal           company_address
0              408052.00          25000.00         Mary Grove, 30815
1                1106.00           1100.00      Garcia Tunnel, 77525
2                2422.88          74550.09         Payne Isle, 42813
3                   0.00          23054.76       Laura Stream, 08932
4                5025.00           5000.00        Andrew Pike, 24782
...                  ...               ...                       ...
1995               25.00           2500.00    Fernandez Cliff, 07444
1996               40.00           4850.00  Williams Junction, 45598
1997               86.00          25000.00       Elaine Point, 97758
1998             5610.00           5000.00          Nancy Dam, 25971
1999             1233.00          15000.00   Kennedy Motorway, 67176

[2000 rows x 16 columns]

10. ### Printa ut alla rader som har NaN med sina vanliga värden (dvs. det ska inte bara vara True / False), ___Du ska använda dig av en metod/funktion___

In [35]:
# Du ska **INTE** göra så här: ks[ks["pledged"] == np.NaN] - du kan ju testa, det kommer inte att fungera!

df = pd.read_csv("kickstarter.csv")
df.loc[df['pledged'] == 0.0, 'pledged'] = np.nan
df.set_index("pledged").loc[np.nan]

df

# Glöm inte köra igång numpy för np. Den printas längst fram med Nan i pledged.



# Här är lite gammal kod om du vill titta: 
# check_nan = df["pledged"].isnull().values.any()
# print(check_nan)

# df.loc["pledged"].loc[np.NaN]

# saved = df.set_index("pledged").loc[0.0].replace(0, np.nan)
# print(saved)
# print(saved.loc["pledged"].loc[np.nan])

,ID,name,category,main_category,currency,deadline,goal,launched,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
pledged,,,,,,,,,,,,,,,
NaN,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,failed,0,SE,64632$ usd,0.0,23054.76,"Laura Stream, 08932"
NaN,1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,canceled,0,GB,50983$ usd,0.0,766.99,"Barbara Islands, 71175"
NaN,1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,failed,0,US,80915$ usd,0.0,30000.00,"Stacey Loaf, 25341"
NaN,1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,canceled,0,US,86018$ usd,0.0,10000.00,"Jill Course, 75981"
NaN,1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,canceled,0,US,85307$ usd,0.0,6750.00,"Collins Pike, 12819"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,canceled,0,US,61783$ usd,0.0,3000.00,"Jennifer Trail, 37296"
NaN,615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,failed,0,IT,63965$ usd,0.0,2256.19,"Harmon Walk, 31405"
NaN,603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,failed,0,DK,77101$ usd,0.0,5552.21,"Shaw Shore, 91720"
NaN,374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,canceled,0,US,71133$ usd,0.0,50000.00,"Fitzpatrick Alley, 18274"
NaN,932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,canceled,0,US,53455$ usd,0.0,35000.00,"Stanley Falls, 53083"

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

In [ ]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
ID,,,,,,,,,,,,,,,
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.0,23054.76,"Laura Stream, 08932"
1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983$ usd,0.0,766.99,"Barbara Islands, 71175"
1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915$ usd,0.0,30000.00,"Stacey Loaf, 25341"
1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018$ usd,0.0,10000.00,"Jill Course, 75981"
1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307$ usd,0.0,6750.00,"Collins Pike, 12819"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783$ usd,0.0,3000.00,"Jennifer Trail, 37296"
615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965$ usd,0.0,2256.19,"Harmon Walk, 31405"
603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101$ usd,0.0,5552.21,"Shaw Shore, 91720"
374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133$ usd,0.0,50000.00,"Fitzpatrick Alley, 18274"
932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455$ usd,0.0,35000.00,"Stanley Falls, 53083"

11. ### Skapa en ny kolumn som är heter pledged_real_diff som representerar skillnaden i USD mellan pledged usd och usd_pledged_result.
Hint: Du kommer behöva "cleana" "pledged usd" så att du kan utföra matematiska operationer på det genom att först städa bort onödig text och sedan konvertera det till en float.

In [36]:
 
import pandas as pd
df = pd.read_csv("kickstarter.csv")

df['usd pledged'] = df['usd pledged'].str.replace('$ usd', '')
df['usd pledged'] = df['usd pledged'].astype(float)

df


# Hej här importerar jag pandas, hämtar från kickstarter.csv. Och sen så visar jag att jag inte vill ha $, usd och mellanslag. Och sen gör jag siffrorna till float.
# Sen printar jag ut listan.



# Gammal kod om du vill titta på den.
# usdpledged = df.set_index("usd pledged")
# newtest = [x[:-1] for x in usdpledged]
# newtest
# df.set_index("pledged").loc[np.nan]
# df
# newtest = [x[:-4] for x in df]
# df.loc[df['usd_pledged'] , 'pledged'] = np.nan
# df.set_index("pledged").loc[np.nan]
# df

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849.0,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486.0,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482.0,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632.0,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272.0,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106.0,25.00,2500.00,"Fernandez Cliff, 07444"
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334.0,40.00,4850.00,"Williams Junction, 45598"
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565.0,86.00,25000.00,"Elaine Point, 97758"
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498.0,5610.00,5000.00,"Nancy Dam, 25971"
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847.0,1233.00,15000.00,"Kennedy Motorway, 67176"

In [37]:
# Du ska **INTE** göra så här: ks[ks["pledged"] == np.NaN] - du kan ju testa, det kommer inte att fungera!


# Jag tror jag inte behövde skriva någon kod här men jag kommenterar bort min kod ifall det var till någon uppgift.

# df = pd.read_csv("kickstarter.csv")


# df.loc[df['pledged'] == 0.0, 'pledged'] = np.nan
# df.set_index("pledged").loc[np.nan]

# df



# check_nan = df["pledged"].isnull().values.any()
# print(check_nan)
# df.loc["pledged"].loc[np.NaN]
# saved = df.set_index("pledged").loc[0.0].replace(0, np.nan)
# print(saved)
# print(saved.loc["pledged"].loc[np.nan])

,ID,name,category,main_category,currency,deadline,goal,launched,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
pledged,,,,,,,,,,,,,,,
NaN,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,failed,0,SE,64632$ usd,0.0,23054.76,"Laura Stream, 08932"
NaN,1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,canceled,0,GB,50983$ usd,0.0,766.99,"Barbara Islands, 71175"
NaN,1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,failed,0,US,80915$ usd,0.0,30000.00,"Stacey Loaf, 25341"
NaN,1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,canceled,0,US,86018$ usd,0.0,10000.00,"Jill Course, 75981"
NaN,1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,canceled,0,US,85307$ usd,0.0,6750.00,"Collins Pike, 12819"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,canceled,0,US,61783$ usd,0.0,3000.00,"Jennifer Trail, 37296"
NaN,615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,failed,0,IT,63965$ usd,0.0,2256.19,"Harmon Walk, 31405"
NaN,603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,failed,0,DK,77101$ usd,0.0,5552.21,"Shaw Shore, 91720"
NaN,374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,canceled,0,US,71133$ usd,0.0,50000.00,"Fitzpatrick Alley, 18274"
NaN,932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,canceled,0,US,53455$ usd,0.0,35000.00,"Stanley Falls, 53083"

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

12. ### Displaya hur många kickstarterprojekt det finns uppdelat på kategori med hjälp av kolumnen main_category

In [39]:
df.groupby(['main_category']).count()

# Hej Tobias! Jag printar ut main här med alla kategorier där vi räknar hur många av dem finns.

,ID,name,category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
main_category,,,,,,,,,,,,,,,
Art,154,154,154,154,154,154,154,132,154,154,154,154,154,154,154
Comics,47,47,47,47,47,47,47,46,47,47,47,47,47,47,47
Crafts,56,56,56,56,56,56,56,50,56,56,56,56,56,56,56
Dance,23,23,23,23,23,23,23,21,23,23,23,23,23,23,23
Design,153,153,153,153,153,153,153,142,153,153,153,153,153,153,153
Fashion,102,102,102,102,102,102,102,85,102,102,102,102,102,102,102
Film & Video,375,375,375,375,375,375,375,320,375,375,375,375,375,375,375
Food,142,142,142,142,142,142,142,116,142,142,142,142,142,142,142
Games,186,186,186,186,186,186,186,166,186,186,186,186,186,186,186
Journalism,23,23,23,23,23,23,23,20,23,23,23,23,23,23,23
Music,272,272,272,272,272,272,272,238,272,272,272,272,272,272,272
Photography,62,62,62,62,62,62,62,47,62,62,62,62,62,62,62
Publishing,198,198,198,198,198,198,198,159,198,198,198,198,198,198,198
Technology,150,150,150,150,150,150,150,126,150,150,150,150,150,150,150
Theater,57,57,57,57,57,57,57,52,57,57,57,57,57,57,57

In [ ]:
# Ta ej bort denna cell

Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Design          153
Technology      150
Food            142
Fashion         102
Photography      62
Theater          57
Crafts           56
Comics           47
Journalism       23
Dance            23
Name: main_category, dtype: int64

13. ### Vad är det högsta resultatet för usd_pledged_result? Du ska använda dig av en metod.

In [40]:
df = pd.read_csv("kickstarter.csv")
df_max = df['usd_pledged_result'].max()
df_max

# Jag listade usd_pledged_result och tog max från den och sparade den sen printade den.


#Här är gammal kod där jag listar och tar från högst ner med hjälp av ascending = False.
# df.groupby["usd_pledged_result"].mean().sort_values("usd_pledged_result", ascending=False)

1021481.0

In [ ]:
# Ta ej bort denna cell

1021481.0

14. ### Visa de projekten med minst "usd_pledged_result" - använd dig av .min()
Du ska inte enbart visa värdet, utan hela raderna

Tips: Använd en mask!

In [60]:
df = pd.read_csv("kickstarter.csv")
df_max = df['usd_pledged_result'].min()
df_max

# Hej Tobias här gör jag samma sak men jag väljer det minsa värdet.

0.0

In [ ]:
# Ta ej bort denna cell

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address,street_name
ID,,,,,,,,,,,,,,,,
49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,NaN,failed,0,SE,64632$ usd,0.0,23054.76,"Laura Stream, 08932",NaN
1384707351ID,Batman Band Builder for Ios and Android (Cance...,Games,Games,GBP,2015-10-28,500.0,2015-09-28 21:17:03,NaN,canceled,0,GB,50983$ usd,0.0,766.99,"Barbara Islands, 71175",NaN
1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,NaN,failed,0,US,80915$ usd,0.0,30000.00,"Stacey Loaf, 25341",NaN
1616831393ID,Help us construct with music (Canceled),Music,Music,USD,2011-04-09,10000.0,2011-03-10 05:20:04,NaN,canceled,0,US,86018$ usd,0.0,10000.00,"Jill Course, 75981",NaN
1992107184ID,Community Art Wall (Canceled),Public Art,Art,USD,2013-07-28,6750.0,2013-05-29 22:00:17,NaN,canceled,0,US,85307$ usd,0.0,6750.00,"Collins Pike, 12819",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625585267ID,Rosie the hippo: Do I have to share my toys? (...,Children's Books,Publishing,USD,2015-12-16,3000.0,2015-11-16 18:31:08,NaN,canceled,0,US,61783$ usd,0.0,3000.00,"Jennifer Trail, 37296",NaN
615895406ID,Kombat Komedian 2,Experimental,Film & Video,EUR,2015-08-15,2000.0,2015-06-18 01:01:07,NaN,failed,0,IT,63965$ usd,0.0,2256.19,"Harmon Walk, 31405",NaN
603589651ID,The beginning,Animation,Film & Video,DKK,2017-09-26,35000.0,2017-08-27 23:22:06,NaN,failed,0,DK,77101$ usd,0.0,5552.21,"Shaw Shore, 91720",NaN
374290795ID,Soul Sessions with Yolanda Stephens (Canceled),Music,Music,USD,2015-09-30,50000.0,2015-08-18 21:59:21,NaN,canceled,0,US,71133$ usd,0.0,50000.00,"Fitzpatrick Alley, 18274",NaN
932817729ID,Chipps and Dipps,Tabletop Games,Games,USD,2016-11-16,35000.0,2016-10-18 21:59:14,NaN,canceled,0,US,53455$ usd,0.0,35000.00,"Stanley Falls, 53083",NaN

15. ### Hitta alla rader som innehåller ordet "Cross" i kolumnen "name" med hjälp av string-metoder och displaya högsta värdet för kolumnen "pledged"

In [4]:

df = pd.read_csv("kickstarter.csv")

filtered_df = df.loc[df['name'].str.contains('Cross', case=False, na=False)]
filtered_df

# Jag tar name raden och kollar om den innehåller Cross. Jag tror det också fanns regular expression för det här med plans=re.I


# Gammal kod om du vill kolla på den
# cross_df = df.loc[df['name'] == "Cross"]
# cross_df.sort_values("usd_pledged_result", ascending=False)
# cross_df

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
31,1511392096ID,Criss Cross Quail acres,Farms,Food,USD,2015-02-20,30000.0,2015-01-21 21:23:08,0.00,failed,0,US,80915$ usd,0.00,30000.00,"Stacey Loaf, 25341"
41,343618386ID,A Moment In The Movement - A cultural lacrosse...,Documentary,Film & Video,USD,2013-07-14,45000.0,2013-06-24 21:55:50,150.00,failed,3,US,68330$ usd,150.00,45000.00,"Elizabeth Vista, 44228"
123,628240076ID,Crossroads (Short Film),Thrillers,Film & Video,USD,2017-03-06,5000.0,2017-02-04 21:00:11,5128.51,successful,78,US,55935$ usd,5128.51,5000.00,"Delgado Field, 88721"
340,2084671684ID,Help Cross Record make a full length album!,Indie Rock,Music,USD,2012-02-18,8500.0,2012-01-14 21:15:28,8618.50,successful,99,US,64771$ usd,8618.50,8500.00,"Jennifer Trail, 46231"
686,640879014ID,The Cross Brush by 'Iron Sharpens Iron Golf',Product Design,Design,USD,2015-04-14,20000.0,2015-02-25 05:25:01,5281.00,failed,38,US,70357$ usd,5281.00,20000.00,"Lisa Springs, 73213"
930,1180112226ID,2015/2016 Cyclocross Album,Art Books,Publishing,GBP,2016-02-06,17500.0,2016-01-07 22:07:34,19229.00,successful,379,GB,88481$ usd,27890.35,25382.55,"Troy Falls, 51029"
1036,583947260ID,I Wonder: A Cross Curricular Textbook,Publishing,Publishing,USD,2013-07-11,1200.0,2013-06-11 01:57:20,0.00,failed,0,US,52028$ usd,0.00,1200.00,"Brown Turnpike, 38840"

In [ ]:
# Ta ej bort denna cell

8618.5

## Sektion 2

16. ### Displaya hur många kickstarterprojekt uppdelat på kategori med hjälp av kolumnen main_category. Displaya topp 5 sorterat från högst till lägst.

In [66]:
df = pd.read_csv("kickstarter.csv")

category_counts = df.groupby(['main_category']).value_counts()
top_5_categories = category_counts.head(5)

# Jag kollar igenom main_category med hjälp av value_counts() sen räknar jag av det top 5




# filtered_df = df.loc[df['main_category'].str.contains('Cross', case=False, na=False)]
# filtered_df
# top_5 = df.set_index("main_category").head()
# top_5
# df.groupby(['main_category']).count()
# filtered_df = df.loc[df['main_category'].str.contains('Cross', case=False, na=False)]
# filtered_df
# top_5 = df.loc[df['main_category']].head()
#       .head()

In [ ]:
# Ta ej bort denna cell

Film & Video    375
Music           272
Publishing      198
Games           186
Art             154
Name: main_category, dtype: int64

17. ### Displaya de top 10 ovanligaste KOMBINATIONERNA av "main_category" och "category" som är country "US"

In [71]:
df = pd.read_csv("kickstarter.csv")
df['combined_category'] = df['main_category'] + " - " + df['category']
us_df = df[df['country'] == 'US']

least_common_combinations = us_df['combined_category'].value_counts().tail(10)
least_common_combinations 

# här slår jag ihop dem till en kategori som jag sen använder i least_common_combinations. 
# Jag går igenom listan och göra value_counts() som förra med tail(10) i slutet. 


# Gammal kod om du vill kolla på den.
# category_counts = df.groupby(['country']).value_counts()
# df['combined_category'] = df['main_category'] + " - " + df['category']

combined_category
Journalism - Photo               1
Food - Farmer's Markets          1
Art - Installations              1
Film & Video - Movie Theaters    1
Crafts - Crochet                 1
Photography - Places             1
Design - Typography              1
Food - Events                    1
Publishing - Anthologies         1
Fashion - Footwear               1
Name: count, dtype: int64

In [ ]:
# Ta ej bort denna cell

main_category  category
Music          Punk                1
Publishing     Literary Spaces     1
Games          Puzzles             1
Food           Spaces              1
Film & Video   Experimental        1
Crafts         Stationery          1
               Quilts              1
Film & Video   Festivals           1
Food           Farmer's Markets    1
Fashion        Ready-to-wear       1
dtype: int64

18. ### Dela upp projekten i grupper baserat på main_category, vad är den genomsnittliga funding-målet dom har (usd_funding_goal). Sortera resultatet från högt till lågt

In [5]:

df = pd.read_csv("kickstarter.csv")
average_funding_goals = df.groupby('main_category')['usd_funding_goal'].mean()
sorted_avg_goals = average_funding_goals.sort_values(ascending=False)
# main_category, usd_funding_goal, från högt till lågt

# Jag gör groupby och kollar på genomsnittet för main category

# Gammal kod om du vill kolla på den.

# df.groupby(['main_category']).mean().sort_values('usd_funding_goal', ascending=False)

In [ ]:
# Ta ej bort denna cell

main_category
Art             666092.309286
Technology       50913.101867
Games            33791.858656
Food             31883.745070
Theater          27964.739298
Film & Video     22852.615627
Publishing       20830.815909
Design           19979.825948
Fashion          15168.148725
Music            11747.886985
Photography       9095.636613
Crafts            7852.780536
Journalism        7384.004348
Dance             5884.845217
Comics            4545.462553
Name: usd_funding_goal, dtype: float64

19. ### Displaya en sammanställning av samma gruppering som förra uppgiften. Den ska nu innehålla flera kolumner med minst genomsnitt, max, min, count
- Använd först .describe och displaya din output
- Använd .agg() och displaya din output, du ska endast inkludera genomsnitt, max, min, count

In [9]:
df = pd.read_csv("kickstarter.csv")
described_df = df.groupby('main_category').describe()
aggregated = df.groupby('main_category').agg({
    'usd_funding_goal': ['mean', 'max', 'min', 'count']
})
aggregated

# Wow describe är ju awesome! Kolla man kan ju få max, min och count kolla här Tobias: https://www.w3schools.com/python/pandas/ref_df_describe.asp#:~:text=The%20describe()%20method%20returns,The%20average%20(mean)%20value. 


# Gammal kod
# average_funding_goals = df.groupby('main_category')['usd_funding_goal'].mean()
# sorted_avg_goals = average_funding_goals.sort_values(ascending=False)
# sorted_avg_goals.min()
# sorted_avg_goals.max()
# sorted_avg_goals.count()

# sorted_avg_goals.describe()

# new_df = sorted_avg_goals.groupby(['main_category']).mean().sort_values('usd_funding_goal', ascending=False)
# new_df

              usd_funding_goal
                          mean           max     min count
main_category
Art              666092.309286  1.000000e+08   75.00   154
Comics             4545.462553  2.224034e+04   99.00    47
Crafts             7852.780536  6.962980e+04   20.00    56
Dance              5884.845217  2.495840e+04  350.00    23
Design            19979.825948  2.280606e+05    1.00   153
Fashion           15168.148725  5.000000e+05  158.18   102
Film & Video      22852.615627  7.500000e+05   15.00   375
Food              31883.745070  5.000000e+05    0.89   142
Games             33791.858656  7.923763e+05   15.00   186
Journalism         7384.004348  2.700000e+04  500.00    23
Music             11747.886985  7.256368e+05  111.60   272
Photography        9095.636613  7.500000e+04  100.00    62
Publishing        20830.815909  2.000000e+06   10.00   198
Technology        50913.101867  9.000614e+05    1.00   150
Theater           27964.739298  1.000000e+06  100.00    57

In [ ]:
# Ta ej bort denna cell

,count,mean,std,min,25%,50%,75%,max
main_category,,,,,,,,
Art,154.0,666092.309286,8.057100e+06,75.00,1500.0000,3491.06,10000.0000,1.000000e+08
Comics,47.0,4545.462553,4.111874e+03,99.00,1500.0000,3500.00,6000.0000,2.224034e+04
Crafts,56.0,7852.780536,1.439111e+04,20.00,706.1600,2750.00,8000.0000,6.962980e+04
Dance,23.0,5884.845217,6.328256e+03,350.00,2100.0000,4000.00,6529.4950,2.495840e+04
Design,153.0,19979.825948,3.112554e+04,1.00,3300.0000,10000.00,22500.0000,2.280606e+05
Fashion,102.0,15168.148725,5.088161e+04,158.18,1500.0000,5000.00,12818.4025,5.000000e+05
Film & Video,375.0,22852.615627,5.832066e+04,15.00,2244.9000,6000.00,20000.0000,7.500000e+05
Food,142.0,31883.745070,6.601281e+04,0.89,3550.0000,10000.00,33200.4075,5.000000e+05
Games,186.0,33791.858656,9.787867e+04,15.00,2716.6325,9000.00,20821.8175,7.923763e+05
Journalism,23.0,7384.004348,7.684875e+03,500.00,1857.0150,4865.00,9250.0000,2.700000e+04
Music,272.0,11747.886985,4.720634e+04,111.60,1787.7050,3929.10,8500.0000,7.256368e+05
Photography,62.0,9095.636613,1.252610e+04,100.00,2000.0000,5000.00,10000.0000,7.500000e+04
Publishing,198.0,20830.815909,1.429845e+05,10.00,2000.0000,5000.00,10000.0000,2.000000e+06
Technology,150.0,50913.101867,1.030981e+05,1.00,6000.0000,20000.00,50000.0000,9.000614e+05
Theater,57.0,27964.739298,1.323266e+05,100.00,1500.0000,3814.76,10000.0000,1.000000e+06

                        mean           max  count     min
main_category
Art            666092.309286  1.000000e+08    154   75.00
Comics           4545.462553  2.224034e+04     47   99.00
Crafts           7852.780536  6.962980e+04     56   20.00
Dance            5884.845217  2.495840e+04     23  350.00
Design          19979.825948  2.280606e+05    153    1.00
Fashion         15168.148725  5.000000e+05    102  158.18
Film & Video    22852.615627  7.500000e+05    375   15.00
Food            31883.745070  5.000000e+05    142    0.89
Games           33791.858656  7.923763e+05    186   15.00
Journalism       7384.004348  2.700000e+04     23  500.00
Music           11747.886985  7.256368e+05    272  111.60
Photography      9095.636613  7.500000e+04     62  100.00
Publishing      20830.815909  2.000000e+06    198   10.00
Technology      50913.101867  9.000614e+05    150    1.00
Theater         27964.739298  1.000000e+06     57  100.00

20. ### Gruppera baserat på kolumnen "state" och displaya genomsnittet av backers (dvs. antal folk som betalat pengar för att stötta projektet). Vad drar du för slutsats? Det räcker med max 2 meningar.

In [5]:
import pandas as pd
df = pd.read_csv("kickstarter.csv")
successful_projects = df[df['state'] == 'successful']
sorted_successful_projects = successful_projects.sort_values(by='backers', ascending=False)
sorted_successful_projects.head(5)

# Jag ser  att dem som har donerat mest kommer upp på listan och med vilken kategori.

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
150,752829621ID,BetterBack Therapy: Improve Posture + Back Pain,Product Design,Design,USD,2017-01-11,12500.0,2016-11-16 14:39:41,1021481.00,successful,10838,US,91525$ usd,1021481.00,12500.00,"Ryan Way, 25226"
303,952976762ID,Sento Towel: An Incredible Upgrade for an Ever...,Product Design,Design,AUD,2017-02-08,12000.0,2016-12-10 13:39:40,1039829.31,successful,8952,AU,94647$ usd,794855.00,9172.91,"Bowen Ports, 99778"
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.00,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1505,1885587695ID,Flow of History - Deluxified™ and Updated,Tabletop Games,Games,USD,2017-06-10,20000.0,2017-05-09 17:43:16,155502.00,successful,4585,US,81298$ usd,155502.00,20000.00,"Terri Route, 64296"
40,926038987ID,H-Hour: World's Elite,Video Games,Games,USD,2013-07-07,200000.0,2013-06-07 23:00:45,252662.28,successful,2772,US,78076$ usd,252662.28,200000.00,"Richardson Freeway, 84139"

In [5]:
df

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.00,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.00,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.00,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.00,"Fernandez Cliff, 07444"
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.00,"Williams Junction, 45598"
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.00,"Elaine Point, 97758"
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.00,"Nancy Dam, 25971"
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.00,"Kennedy Motorway, 67176"

In [ ]:
# Ta ej bort denna cell

state
canceled       22.548544
failed         17.244782
live           29.142857
successful    198.752890
suspended      34.555556
undefined       0.000000
Name: backers, dtype: float64

21. ### Använd .apply() 
1. Undersök vilka kategorier det finns i kolumnen "state"
2. Skapa en funktion som baserat på värdena i kolumnen state är, modifierar kolumnen "usd_funding_goal" med en * om det står success, "!" för failure eller canceled, "---" för "suspended".
3. Displaya ett sample av 20 rader från din modifierade kolumn

In [28]:
import pandas as pd
df = pd.read_csv("kickstarter.csv")

unique_states = df['state'].unique()
print(unique_states)

# Här gör jag en if state där jag kollar om den är success eller inte. Jag vet att jag inte skulle använda if states men det känns rätt eftersom i uppgiften
# så står det så här "Skapa en funktion som baserat på värdena i kolumnen state är" och jag tycker att det blir enklare att läsa. Snälla säg till om jag behöver göra om.
def modify_funding_goal(row):
    if row['state'] == 'successful':
        return str(row['usd_funding_goal']) + '*'
    elif row['state'] in ['failed', 'canceled']:
        return str(row['usd_funding_goal']) + '!'
    elif row['state'] == 'suspended': 
        return str(row['usd_funding_goal']) + '---'
    else:
        return row['usd_funding_goal']

df['usd_funding_goal'] = df.apply(modify_funding_goal, axis=1)

df

['successful' 'canceled' 'failed' 'live' 'undefined' 'suspended']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_result,usd_funding_goal,company_address
0,1054480724ID,Luminoodle COLOR & BASECAMP: Versatile & Porta...,Product Design,Design,USD,2016-04-22,25000.0,2016-03-22 16:39:57,408052.0,successful,5085,US,98849$ usd,408052.00,25000.0*,"Mary Grove, 30815"
1,1317034686ID,Liberty's work was accepted into the Library o...,Shorts,Film & Video,USD,2017-02-23,1100.0,2017-02-03 07:26:57,1106.0,successful,10,US,52486$ usd,1106.00,1100.0*,"Garcia Tunnel, 77525"
2,121816660ID,Dusk - Open World Survival Horror (Canceled),Video Games,Games,GBP,2015-12-19,50000.0,2015-11-18 01:53:10,1625.0,canceled,58,GB,53482$ usd,2422.88,74550.09!,"Payne Isle, 42813"
3,49882738ID,Eatsleeptrainrepeat,Web,Technology,SEK,2014-12-24,180000.0,2014-11-24 21:47:27,0.0,failed,0,SE,64632$ usd,0.00,23054.76!,"Laura Stream, 08932"
4,1503277376ID,FLARE Video Project,Shorts,Film & Video,USD,2011-03-12,5000.0,2011-02-10 20:32:26,5025.0,successful,9,US,99272$ usd,5025.00,5000.0*,"Andrew Pike, 24782"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,867650362ID,SideWayz Theatre's First Production Fund,Theater,Theater,USD,2016-03-23,2500.0,2016-03-03 23:30:22,25.0,failed,1,US,70106$ usd,25.00,2500.0!,"Fernandez Cliff, 07444"
1996,1512412268ID,THE LOVE & MISERY OF A MOONSHINE MIND Project,Publishing,Publishing,USD,2012-10-11,4850.0,2012-09-14 23:43:32,40.0,failed,2,US,77334$ usd,40.00,4850.0!,"Williams Junction, 45598"
1997,508267839ID,Mall-World Animated Series - Comedy,Animation,Film & Video,USD,2016-12-19,25000.0,2016-11-04 00:45:31,86.0,failed,2,US,95565$ usd,86.00,25000.0!,"Elaine Point, 97758"
1998,945357371ID,Behind the Food Carts Road Trip,Photography,Photography,USD,2014-02-04,5000.0,2014-01-14 23:48:24,5610.0,successful,77,US,86498$ usd,5610.00,5000.0*,"Nancy Dam, 25971"
1999,1093469237ID,Paintball Robot,Technology,Technology,USD,2011-03-23,15000.0,2011-02-11 23:55:07,1233.0,failed,18,US,72847$ usd,1233.00,15000.0!,"Kennedy Motorway, 67176"

In [ ]:
# Tack för att du har kollat igenom min kod Tobias! Happy Halloween!🎃